{% extends "base.html.twig" %}

{% block body %}
    <div
        class="base">

        <!-- Page -->
        <div
            class="page">

            <!-- Page Header-->
            <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="white-text">{{ 'misc.yourProfile'|trans }}</h2>
                            <span class="white-text">{{ 'misc.personalInfoAndProfessionalInfo'|trans }}</span>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{{ path('home_index') }}">{{ 'navigation.home'|trans }}</a>
                                </li>
                                <li class="active">{{ 'misc.profile'|trans }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>


            <!-- Page Content-->
            {# <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="score-container">
                        <h4>
                            <img height="80px" src="https://i.imgur.com/s9bPVaK.gif" width="201px">
                            &nbsp;&nbsp;
                            {{ 'profile.profileComplete'|trans }}
                        </h4>
                        <div class="c100 p100 small complete ">
                            <span>100%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            </section> #}


            <form action="{{ path('auth_profile') }}" method="POST" enctype="multipart/form-data" autocomplete="off">
                <section class="section-padding">
                    <div class="container">
                        {% if form_errors(form) %}
                            <div class="alert alert-danger">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="row">
                            <h3 class="text-extrabold">{{ 'form.personalInfo'|trans }}</h3>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="input-field">
                                    <small>{{ 'form.gender'|trans }}</small>
                                    {{ form_widget(form.gender, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="input-field">
                                    {{ form_label(form.firstName, 'form.firstName')}}
                                    {{ form_widget(form.firstName, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="input-field">
                                    {{ form_label(form.lastName, 'form.lastName')}}
                                    {{ form_widget(form.lastName, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="input-field">
                                    {{ form_label(form.currentLocation, 'form.currentLocation')}}
                                    {{ form_widget(form.currentLocation, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <div class="input-field">
                                    {{ form_label(form.address, 'form.address')}}
                                    {{ form_widget(form.address, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="file-field input-field" style="margin-top: 32px;">
                                    <div class="btn btn-lg primary waves-effect waves-light">
                                        <span>
                                            <i class="material-icons">insert_photo</i>
                                            {{ 'form.photo'|trans }}
                                        </span>
                                        <input accept=".pdf,.jpg,.doc,.docx,.png,.gif" id="photo" name="photo" size="20000000" type="file">
                                    </div>

                                    <div class="existing-file">
                                        <a href="#!" target="_blank">
                                            <i class="material-icons">&#xE24D;</i>
                                            profil_picture.jpg</a>
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" placeholder="Upload your ID photo" readonly type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-field">
                                            {{ form_label(form.country, 'form.country')}}
                                            {{ form_widget(form.country, {attr: {class: 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-field">
                                            {{ form_label(form.nationality, 'form.nationality')}}
                                            {{ form_widget(form.nationality, {attr: {class: 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div
                                        class="col-xs-12 col-sm-6">{# <div class="input-field">
                                        <input class="datepicker" id="birth_date" name="birth_date" type="text" value="">
                                        <label for="birth_date">{{ 'form.birthDate'|trans }}</label>
                                    </div> #}
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="input-field">
                                            {{ form_label(form.birthPlace, 'form.birthPlace')}}
                                            {{ form_widget(form.birthPlace, {attr: {class: 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-40">
                            <h3 class="text-extrabold">{{ 'form.profilePro'|trans }}</h3>
                            <div class="col-xs-12 col-sm-6">
                                <div class="card card-panel passport">
                                    <div class="file-field input-field">
                                        <div class="btn btn-lg primary waves-effect waves-light">
                                            <span>
                                                <i class="material-icons">&#xE24D;</i>
                                                {{ 'form.passport'|trans }}</span>
                                            <input accept=".pdf,.jpg,.doc,.docx,.png,.gif" id="passport" name="passport" size="20000000" type="file">
                                        </div>
                                        <div class="existing-file">
                                            <a href="#!" target="_blank">
                                                <i class="material-icons">&#xE24D;</i>
                                                passeport.jpg</a>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" placeholder="Upload your passport" readonly type="text">
                                        </div>
                                    </div>

                                    <div class="file-field input-field">
                                        <div class="btn btn-lg primary waves-effect waves-light">
                                            <span>
                                                <i class="material-icons">&#xE24D;</i>
                                                {{ 'form.resume'|trans }}</span>
                                            <input accept=".pdf,.jpg,.doc,.docx,.png,.gif" id="cv" name="cv" size="20000000" type="file">
                                        </div>

                                        <div class="existing-file">
                                            <a href="#!" target="_blank">
                                                <i class="material-icons">&#xE24D;</i>
                                                CV.pdf</a>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" placeholder="Upload your Curriculum Vitae" readonly type="text">
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-field" style="margin-top: 5px;">
                                        <small>{{ 'form.interestJobSector'|trans }}</small>
                                        {{ form_widget(form.jobCategory, {attr: {class: 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="input-field">
                                        <small>{{ 'form.experience'|trans }}</small>
                                        {{ form_widget(form.experience, {attr: {class: 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="input-field">
                                    {{ form_label(form.description, 'form.holderDescription')}}
                                    {{ form_widget(form.description, {attr: {class: 'materialize-textarea'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-padding gray-bg">
                    <div class="container">
                        <div class="row">
                            <h3 class="text-extrabold">{{ 'form.luxuryAccount'|trans }}</h3>
                            <div class="col-xs-12 col-sm-4">
                                <div class="input-field">
                                    {{ form_label(form.email, 'form.email')}}
                                    {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="input-field">
                                    {{ form_label(form.password, 'form.password')}}
                                    {{ form_widget(form.password, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="input-field">
                                    {{ form_label(form.passwordValidation, 'form.passwordValidation')}}
                                    {{ form_widget(form.passwordValidation, {attr: {class: 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 mt-40 mb-80 delete-account">
                                <a class="btn btn-block btn-lg waves-effect waves-light" href="#!" onclick="return prompt('Please Type \'Delete my account\' to delete your K-Yachting Services account:') == 'Delete my account'">
                                    <i class="material-icons">&#xE872;</i>
                                    {{ 'form.deleteAccount'|trans }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <a class="btn btn-block btn-lg border primary waves-effect waves-light" href="#!">
                                    <i class="fa fa-long-arrow-left"></i>
                                    {{ 'form.backHome'|trans }}</a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
                                <button class="btn btn-block btn-lg gradient secondary waves-effect waves-light" type="submit">
                                    <span>
                                        <strong>UPDATE</strong>
                                        NOW</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </section>
                {{ form_widget(form._token) }}
            </form>
        </div>
    </div>
{% endblock %}
