{% extends "base.html.twig" %}

{% block body %}
    <div
        class="base">

        {# <!-- Page --> #}
        <div
            class="page">

            {# <!-- Page Header--> #}
            <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="white-text">{{ 'misc.whoWeAre'|trans }}</h2>
                            <span class="white-text">{{ 'misc.discoverOurSkills'|trans }}</span>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="#!">{{ 'navigation.home'|trans }}</a>
                                </li>
                                <li class="active">{{ 'misc.aboutUs'|trans }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            {# <!-- Page Content--> #}

            <section class="section-padding light-gray-bg">
                <div class="container">
                    <div class="text-center mb-80">
                        <h2 class="section-title text-uppercase">{{ 'misc.aboutUs'|trans }}</h2>
                        <p class="section-sub">{{ 'misc.leadingProfessionalRecruitmentConsultancy'|trans }}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="featured-item feature-icon icon-hover icon-hover-brand icon-circle icon-outline clearfix">
                                <div class="icon">
                                    <i class="material-icons">&#xE8E8;</i>
                                </div>
                                <div class="desc">
                                    <h3 class="text-extrabold">{{ 'misc.verifiedJobs'|trans }}</h3>
                                    <p>{{ 'misc.checkedAndSorted'|trans }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="featured-item feature-icon icon-hover icon-hover-brand icon-circle icon-outline clearfix">
                                <div class="icon">
                                    <i class="material-icons">&#xE84E;</i>
                                </div>
                                <div class="desc">
                                    <h3 class="text-extrabold">{{ 'misc.recruitment'|trans }}</h3>
                                    <p>{{ 'misc.preciseAndPersonalized'|trans }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="featured-item feature-icon icon-hover icon-hover-brand icon-circle icon-outline clearfix">
                                <div class="icon">
                                    <i class="material-icons">&#xE903;</i>
                                </div>
                                <div class="desc">
                                    <h3 class="text-extrabold">{{ 'misc.experienced'|trans }}</h3>
                                    <p>{{ 'misc.weKnowTheImportanceOfEfficiency'|trans }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="promo-box promo-parallax mt-80 mb-80 ptb-70 text-center">
                                <div class="promo-info">
                                    <h1 class="text-uppercase mb-30 text-extrabold font-30">{{ 'misc.weProvideCustomizedServices'|trans }}</h1>
                                    <p class="width-60 mb-30">{{ 'misc.youKnowThatAttractingAndRetainingTopTalentIsVital'|trans }}</p>

                                    <a class="btn btn-lg border secondary waves-effect waves-light mt-20" href="{{ path('home_contact') }}">
                                        <span>
                                            {{ 'navigation.getInTouchWithUs'|trans|raw }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-center mb-80">{{ 'misc.theRoleOfARecruitementConsultancy'|trans }}</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel slide boot-slider" data-ride="carousel" id="project-slider">
                                <ol class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#project-slider"></li>
                                    <li data-slide-to="1" data-target="#project-slider"></li>
                                </ol>

                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img alt="" class="img-responsive" src="{{ asset('assets/img/slide1.jpg') }}">
                                    </div>
                                    <div class="item">
                                        <img alt="" class="img-responsive" src="{{ asset('assets/img/slide2.jpg') }}">
                                    </div>
                                </div>

                                <a class="left carousel-control" data-slide="prev" href="#project-slider" role="button">
                                    <span aria-hidden="true" class="fa fa-angle-left"></span>
                                    <span class="sr-only">{{ 'navigation.previous'|trans }}</span>
                                </a>
                                <a class="right carousel-control" data-slide="next" href="#project-slider" role="button">
                                    <span aria-hidden="true" class="fa fa-angle-right"></span>
                                    <span class="sr-only">{{ 'navigation.next'|trans }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3 class="no-margin text-extrabold">{{ 'misc.ourPhilosophy'|trans }}</h3>
                            <p class="mt-20 mb-20">
                                {{ 'misc.luxuryServicesLeadingProfessionalInThePlacementOfCandidates'|trans }}
                                <br>
                                {{ 'misc.hasEstablishedLeadingPresenceInManyKeyMarkets'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="padding-top-110 padding-bottom-70 brand-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="quote-carousel text-center">
                                <div class="carousel-item">
                                    <div class="content">
                                        <h2 class="white-text line-height-40">{{ 'misc.getInTouchWithLuxuryServicesToLeaveWithTheRightCrew'|trans }}</h2>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="content">
                                        <h2 class="white-text line-height-40">{{ 'misc.myFavoriteThingsInLife'|trans }}</h2>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="content">
                                        <h2 class="white-text line-height-40">{{ 'misc.myFavoriteThingsInLife'|trans }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
