{% extends "base.html.twig" %}

{% block body %}
    <div
        class="base">

        {# <!-- Page --> #}
        <div
            class="page">

            {# <!-- Page Header--> #}
            <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="white-text">{{ 'misc.feelFreeToContactUs'|trans }}</h2>
                            <span class="white-text">{{ 'misc.forAnyQuestionsOrDemands'|trans }}</span>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="#!">{{ 'navigation.home'|trans }}</a>
                                </li>
                                <li class="active">{{ 'misc.contact'|trans }}</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            {# <!-- Page Content--> #}
            <form accept-charset="UTF-8" action="#!" class="light-gray-bg" id="formContact" method="POST">
                <input name="_token" type="hidden" value="">
                <input name="job_id" type="hidden" value="">
                <section class="section-padding">
                    <div class="container">
                        <div class="text-center mb-80">
                            <h2 class="section-title text-uppercase">{{ 'misc.dropUsALine'|trans }}</h2>
                            <p class="section-sub text-center">{{ 'misc.whetherYourNeedsAreUrgent'|trans }}</p>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8" id="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-field">
                                            <input name="firstname" required="required" type="text">
                                            <label for="firstname">{{ 'form.firstName'|trans }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-field">
                                            <input name="lastname" required="required" type="text">
                                            <label for="lastname">{{ 'form.lastName'|trans }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-field">
                                            <input name="email" required="required" type="email">
                                            <label for="email">{{ 'form.email'|trans }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-field">
                                            <input name="phone" required="required" type="tel">
                                            <label for="phone">{{ 'form.phoneNumber'|trans }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-field">
                                            <textarea class="materialize-textarea" cols="50" name="message" required="required" rows="10"></textarea>
                                            <label for="message">{{ 'form.message'|trans }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                                        <button class="btn btn-block gradient primary waves-effect waves-light submit-button" name="submit" type="submit">
                                            {{ 'form.sendMessage'|trans }}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-4 contact-info mt-40">

                                <address>
                                    <i class="material-icons brand-color">&#xE55F;</i>
                                    <div class="address">
                                        <p>{{ 'misc.luxuryServicesBasedInRoanne'|trans }}</p>
                                    </div>
                                    <i class="material-icons brand-color">&#xE61C;</i>
                                    <div class="phone">
                                        <p>+33 (0) 6 60 06 66 00</p>
                                    </div>
                                    <i class="material-icons brand-color">&#xE916;</i>
                                    <div class="phone">
                                        <p>{{ 'misc.hotlineHours'|trans }}</p>
                                    </div>
                                    <i class="material-icons brand-color">&#xE0E1;</i>
                                    <div class="mail">
                                        <p>
                                            <a href="#!">georges[a]luxuryservices.com</a>
                                        </p>
                                    </div>
                                </address>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
            <div class="height-350" id="myMap">Gmap here</div>

        </div>

    </div>
{% endblock %}
