{% extends "admin.html.twig" %}

{% block body %}
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ 'admin.editCandidate'|trans }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Share</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
        </div>

        <div class="errors py-3 px-3 my-3 bg-light">
            {{ form_errors(form) }}
        </div>

        <form action="{{ path('admin_edit_candidate', {id: candidate.id}) }}" autocomplete="off" class="mb-5" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-4">
                    {{ form_label(form.email, 'admin.email')}}
                    {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.password, 'admin.password')}}
                    {{ form_widget(form.password, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="col-4"></div>
                <div class="form-group col-2">
                    {{ form_label(form.gender, 'admin.gender')}}
                    {{ form_widget(form.gender, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-3">
                    {{ form_label(form.firstName, 'admin.firstName')}}
                    {{ form_widget(form.firstName, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-3">
                    {{ form_label(form.lastName, 'admin.lastName')}}
                    {{ form_widget(form.lastName, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    {{ form_label(form.address, 'admin.address')}}
                    {{ form_widget(form.address, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.country, 'admin.country')}}
                    {{ form_widget(form.country, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    {{ form_label(form.currentLocation, 'admin.currentLocation')}}
                    {{ form_widget(form.currentLocation, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    {{ form_label(form.nationality, 'admin.nationality')}}
                    {{ form_widget(form.nationality, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.birthPlace, 'admin.birthPlace')}}
                    {{ form_widget(form.birthPlace, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-2">
                    {{ form_label(form.phoneNumber, 'admin.phoneNumber')}}
                    {{ form_widget(form.phoneNumber, {attr: {class: 'form-control'}}) }}
                    <small style="color: grey;">{{ 'admin.phoneNumberFormat'|trans }}</small>
                </div>
                <div class="form-group col-6">
                    {{ form_label(form.description, 'admin.description')}}
                    {{ form_widget(form.description, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.jobCategory, 'admin.jobSector')}}
                    {{ form_widget(form.jobCategory, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.experience, 'admin.experience')}}
                    {{ form_widget(form.experience, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.profilePicture, 'admin.profilePicture')}}
                    {{ form_widget(form.profilePicture, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.passport, 'admin.passport')}}
                    {{ form_widget(form.passport, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.resumeFile, 'admin.resume')}}
                    {{ form_widget(form.resumeFile, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-8">
                    {{ form_label(form.note, 'admin.note')}}
                    {{ form_widget(form.note, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-12">
                    <p class="mb-1">{{ 'admin.admin'|trans }}</p>
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.isAdmin, {attr: {class: 'form-check-input'}}) }}
                    </div>
                </div>
                <div class="form-group col-12">
                    <p class="mb-1">{{ 'admin.availability'|trans }}</p>
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.availability, {attr: {class: 'form-check-input'}}) }}
                    </div>
                </div>

                {{ form_widget(form._token) }}

                <div class="buttons col-12 offset-md-4 row">
                    <div class="px-2">
                        <a class="btn btn-outline-dark" href="{{ path('admin_candidates') }}">{{ 'admin.cancel'|trans }}</a>
                    </div>
                    <div class="px-2">
                        <button class="btn btn-outline-dark px-5" type="submit">{{ 'admin.submit'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
