{% extends "admin.html.twig" %}

{% block title %}
    {{ 'admin.candidate.editCandidate'|trans }}
    |
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ 'admin.candidate.editCandidate'|trans }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Share</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
        </div>

        {% if form_errors(form) %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                <ul>
                    {% for child in form.children %}
                        {% for error in child.vars.errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form action="{{ path('admin_edit_candidate', {id: candidate.id}) }}" autocomplete="off" class="mb-5" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-4">
                    {{ form_label(form.email, 'form.email')}}
                    {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="col-8"></div>
                <div class="form-group col-2">
                    {{ form_label(form.gender, 'form.gender')}}
                    {{ form_widget(form.gender, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-3">
                    {{ form_label(form.firstName, 'form.firstName')}}
                    {{ form_widget(form.firstName, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-3">
                    {{ form_label(form.lastName, 'form.lastName')}}
                    {{ form_widget(form.lastName, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    {{ form_label(form.address, 'form.address')}}
                    {{ form_widget(form.address, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.country, 'form.country')}}
                    {{ form_widget(form.country, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    {{ form_label(form.currentLocation, 'form.currentLocation')}}
                    {{ form_widget(form.currentLocation, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    {{ form_label(form.nationality, 'form.nationality')}}
                    {{ form_widget(form.nationality, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.birthPlace, 'form.birthPlace')}}
                    {{ form_widget(form.birthPlace, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-2">
                    {{ form_label(form.phoneNumber, 'form.phoneNumber')}}
                    {{ form_widget(form.phoneNumber, {attr: {class: 'form-control'}}) }}
                    <small style="color: grey;">{{ 'form.phoneNumberFormat'|trans }}</small>
                </div>
                <div class="form-group col-6">
                    {{ form_label(form.description, 'form.description')}}
                    {{ form_widget(form.description, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.jobCategory, 'form.jobSector')}}
                    {{ form_widget(form.jobCategory, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.experience, 'form.experience')}}
                    {{ form_widget(form.experience, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-12">
                    {{ form_label(form.note, 'form.note')}}
                    {{ form_widget(form.note, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.profilePictureFile, 'form.profilePicture') }}
                    {{ form_widget(form.profilePictureFile, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.passportFile, 'form.passport') }}
                    {{ form_widget(form.passportFile, {attr: {class: 'form-control'}}) }}
                </div>
                <div class="form-group col-4">
                    {{ form_label(form.resumeFile, 'form.resume') }}
                    {{ form_widget(form.resumeFile, {attr: {class: 'form-control'}}) }}
                </div>
                {# TODO: Changer les boutons Yes/no en un switch on/off et setté manuellement les valeurs reçues de form #}
                <div class="form-group col-12">
                    <p class="mb-1">{{ 'form.admin'|trans }}</p>
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.isAdmin, {attr: {class: 'form-check-input'}}) }}
                    </div>
                </div>
                <div class="form-group col-12">
                    <p class="mb-1">{{ 'form.available'|trans }}</p>
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.availability, {attr: {class: 'form-check-input'}}) }}
                    </div>
                </div>

                {{ form_widget(form._token) }}

                <div class="buttons col-12 offset-md-4 row">
                    <div class="px-2">
                        <a class="btn btn-outline-dark" href="{{ path('admin_candidates') }}">{{ 'form.cancel'|trans }}</a>
                    </div>
                    <div class="px-2">
                        <button class="btn btn-outline-dark px-5" type="submit">{{ 'form.submit'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
