{% extends "admin.html.twig" %}

{% block title %}Candidates | {{ parent() }}{% endblock %}

{% block body %}
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ 'admin.candidates'|trans }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Share</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
        </div>

        <div class="float-right my-2">
            <a href="{{ path('admin_new_candidate') }}" class="btn btn-dark">Add a candidate <span class="big">&CirclePlus;</span></a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ 'admin.lastName'|trans }}</th>
                        <th>{{ 'admin.firstName'|trans }}</th>
                        <th>{{ 'admin.email'|trans }}</th>
                        <th>{{ 'admin.city'|trans }}</th>
                        <th>{{ 'admin.jobSector'|trans }}</th>
                        <th>{{ 'admin.availability'|trans }}</th>
                        <th>{{ 'admin.registerDate'|trans }}</th>
                        <th>{{ 'admin.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in candidates %}
                        <tr>
                            <td>{{ candidate.lastName ? candidate.lastName : 'N/A' }}</td>
                            <td>{{ candidate.firstName ? candidate.firstName : 'N/A' }}</td>
                            <td>{{ candidate.email ? candidate.email : 'N/A'}}</td>
                            <td>{{ candidate.currentLocation ? candidate.currentLocation : 'N/A'}}</td>
                            <td>Nique ton oncle</td>
                            <td>{{ candidate.availability ? 'Yes' : 'No'}}</td>
                            <td>{{ candidate.createdAt|date("d/m/Y H:i:s", "Europe/Paris") }}</td>
                            <td class="d-flex justify-content-between">
                                <a href="#"><i data-feather="edit"></i></a>
                                <a href="#"><i data-feather="x-circle"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
