<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link
        href="{{ asset('assets/img/luxury-services-logo.png') }}" rel="shortcut icon">
        {# <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet"> #}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}"> {% block stylesheets %}{% endblock %}
        <title>
            {% block title %}
                Luxury Services recruitment & services
            {% endblock %}
        </title>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('home_index') }}">{{ 'admin.luxuryServices'|trans }}</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{{ path('auth_logout') }}">{{ 'admin.logout'|trans }}</a>
                </li>
            </ul>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_dashboard') }}">
                                    <span data-feather="home"></span>
                                    {{ 'admin.dashboard'|trans }}
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_candidates') }}">
                                    <span data-feather="users"></span>
                                    {{ 'admin.candidates'|trans }}
                                </a>
                                <ul class="undernav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('admin_new_candidate') }}">
                                        <span data-feather="plus-circle"></span>
                                        {{ 'admin.addCandidate'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_clients') }}">
                                    <span data-feather="dollar-sign"></span>
                                    {{ 'admin.clients'|trans }}
                                </a>
                                 <ul class="undernav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('admin_new_client') }}">
                                        <span data-feather="plus-circle"></span>
                                        {{ 'admin.addClient'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="clipboard"></span>
                                    {{ 'admin.jobOffers'|trans }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="paperclip"></span>
                                    {{ 'admin.candidatures'|trans }}
                                </a>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Saved reports</span>
                            <a class="d-flex align-items-center text-muted" href="#">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Current month
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Last quarter
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Social engagement
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file-text"></span>
                                    Year-end sale
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% block body %}{% endblock %}

                <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
                <script src="{{ asset('assets/js/popper.min.js') }}"></script>
                <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('assets/js/feather.min.js') }}"></script>
                <script src="{{ asset('assets/js/dashboard.js') }}"></script>
                <script src="{{ asset('assets/js/admin.js') }}"></script>
                {% block javascripts %}{% endblock %}
            </body>

        </html>
    </body>
</html>
