{% extends "base.html.twig" %}

{% block body %}
    <div
        class="base">

        <!-- Page -->
        <div
            class="page">

            <!-- Page Header-->
            <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="white-text">{{ 'misc.ourJobOffers'|trans }}</h2>
                            <span class="white-text">{{ 'misc.searchAndFilterByJobCategory'|trans }}</span>

                        </div>
                    </div>
                </div>
            </section>

            <!-- Page Content-->
            <section class="section-padding gray-bg" id="job-offers">
                <div class="container">
                    <div class="text-center mb-40">
                        <h2 class="section-title">{{ 'misc.weHaveThePerfectJobForYou'|trans }}</h2>
                        <p class="section-sub">{{ 'misc.justLikeOurCandidatesWeOfferSeriousJobOffers'|trans }}</p>
                    </div>
                    <div class="portfolio-container">

                        <ul class="portfolio-filter brand-filter text-center">
                            <li class="active waves-effect waves-light" data-group="all">{{ 'misc.all'|trans }}</li>
                            <li class=" waves-effect waves-light" data-group="Commercial">{{ 'misc.commercial'|trans }}</li>
                            <li class=" waves-effect waves-light" data-group="Retail sales">{{ 'misc.retailSales'|trans }}</li>
                            <li class=" waves-effect waves-light" data-group="Creative">{{ 'misc.creative'|trans }}</li>
                            <li class=" waves-effect waves-light" data-group="Technology">{{ 'misc.technology'|trans }}</li>
                            <li class=" waves-effect waves-light" data-group="Marketing & PR">{{ 'misc.marketingAndPR'|trans }}</li>
                            <li class=" waves-effect waves-light" data-group="Fashion & luxury">{{ 'misc.fashionAndLuxury'|trans }}</li>
                            <li class=" waves-effect waves-light" data-group="Management & HR">{{ 'misc.managementAndHR'|trans }}</li>
                        </ul>
                        <div class="portfolio portfolio-with-title col-2 gutter mt-30">
                            {% for jobOffer in jobOffers %}
                            <!-- TODO: Add an "if active" -->
                            <div class="portfolio-item" data-groups='["all", "{{ jobOffer.jobCategory }}"]'>
                                <div class="portfolio-wrapper">
                                    <div class="card job-card">
                                        <div class="card-content">
                                            <span class="title">
                                                <span class="card-title">{{ jobOffer.title }}</span>
                                                <span class="ref grey-text">Ref. {{ jobOffer.reference ? jobOffer.reference : 'N/A' }}</span>
                                            </span>
                                            <div class="metas mb-20">
                                                <div class="meta">
                                                    <i class="material-icons">&#xE53E;</i>{{ jobOffer.salary }}€
                                                </div>
                                                <div class="meta">
                                                    <i class="material-icons">&#xE916;</i>{{ jobOffer.closedAt ? jobOffer.closedAt|date('d/m/Y') : 'N/A' }}
                                                </div>
                                                <div class="meta">
                                                    <i class="material-icons">&#xE55F;</i>{{ jobOffer.location }}
                                                </div>
                                            </div>
                                            <p class="truncate-text">{{ jobOffer.description }}</p>
                                        </div>
                                        <div class="card-action">
                                            <a class="btn btn-md primary border waves-effect waves-dark" href="{{ path('jobs_show', {id: jobOffer.id}) }}">Details</a>
                                            <a class="btn btn-md primary waves-effect waves-light" href="#!">Apply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="no-item"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="cta-candidate bg-fixed bg-cover overlay dark-5 padding-top-70 padding-bottom-50">
                <div class="container">
                    <div class="row">
                        <div class="valign-wrapper text-center">
                            <div class="hero-intro valign-cell">
                                <h2 class="tt-headline clip is-full-width no-margin">
                                    <span>{{ 'misc.youAre'|trans }}
                                    </span>
                                    <span class="tt-words-wrapper">
                                        <b class="is-visible">{{ 'misc.commercial'|trans }}</b>
                                        <b>{{ 'misc.creative'|trans }}</b>
                                        <b>{{ 'misc.marketingAndPR'|trans }}</b>
                                        <b>{{ 'misc.technology'|trans }}</b>
                                        <b>{{ 'misc.fashionAndLuxury'|trans }}</b>
                                        <b>{{ 'misc.retailSales'|trans }}</b>
                                    </span>
                                </h2>
                                <h3 class="c-secondary mb-30 no-margin">{{ 'misc.signUpAndApply'|trans }}</h3>
                                <p class="white-text section-sub">{{ 'misc.eachOneOfYourSkillPreciousToUs'|trans }}</p>

                                <a href="{{ path('auth_register') }}" class="btn border secondary waves-effect waves-light mt-40">{{ 'navigation.joinUs'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
{% endblock %}
