{% extends "admin.html.twig" %}

{% block title %}{{ 'admin.jobOffer.jobOffers'|trans }} |
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ 'admin.jobOffer.jobOffers'|trans }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Share</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
        </div>
        {# TODO: Add flashes every where #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="float-right my-2">
            <a href="{{ path('admin_new_joboffer') }}" class="btn btn-dark">{{ 'admin.jobOffer.addJobOffer'|trans }}
                <span class="big">&CirclePlus;</span>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ 'admin.table.jobTitle'|trans }}</th>
                        <th>{{ 'admin.table.companyName'|trans }}</th>
                        <th>{{ 'admin.table.contactName'|trans }}</th>
                        <th>{{ 'admin.table.contactEmail'|trans }}</th>
                        <th>{{ 'admin.table.contactPhoneNumber'|trans }}</th>
                        <th>{{ 'admin.table.active'|trans }}</th>
                        <th>{{ 'admin.table.registerDate'|trans }}</th>
                        <th>{{ 'admin.table.closureDate'|trans }}</th>
                        <th>{{ 'admin.table.note'|trans }}</th>
                        <th>{{ 'admin.table.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set confirmDelete = 'admin.misc.confirmDelete'|trans %}
                    {% for jobOffer in jobOffers %}
                        <tr>
                            <td>{{ jobOffer.title ? jobOffer.title : 'N/A' }}</td>
                            <td>{{ jobOffer.client.companyName ? jobOffer.client.companyName : 'N/A' }}</td>
                            <td>{{ jobOffer.client.contactName ? jobOffer.client.contactName : 'N/A' }}</td>
                            <td>{{ jobOffer.client.contactEmail ? jobOffer.client.contactEmail : 'N/A' }}</td>
                            <td>{{ jobOffer.client.contactPhoneNumber ? jobOffer.client.contactPhoneNumber|capitalize : 'N/A' }}</td>
                            <td>{{ jobOffer.active ? 'admin.misc.yes'|trans : 'admin.misc.no'|trans }}</td>
                            <td>{{ jobOffer.createdAt|date("d/m/Y H:i:s", "Europe/Paris") }}</td>
                            <td>{{ jobOffer.closedAt ? jobOffer.closedAt|date("d/m/Y H:i:s", "Europe/Paris") : 'N/A' }}</td>
                            <td data-id="{{ jobOffer.id }}">
                                <button class="btn p-0">
                                    <i data-feather="bookmark"></i>
                                </button>
                            </td>
                            <td class="d-flex justify-content-between">
                                <a href="{{ path('admin_edit_joboffer', {id: jobOffer.id}) }}">
                                    <button class="btn p-0">
                                        <i data-feather="edit"></i>
                                    </button>
                                </a>
                                <form method="POST" action="{{ path('admin_delete_joboffer', {id: jobOffer.id}) }}" onsubmit="return confirm('{{ confirmDelete }}');">
                                    <button class="btn p-0" type="submit">
                                        <i data-feather="x-circle"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
