{% extends "admin.html.twig" %}

{% block title %}{{ 'admin.jobOffer.newJobOffer'|trans }} |
    {{ parent() }}
{% endblock %}

{% block body %}
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ 'admin.jobOffer.newJobOffer'|trans }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary" type="button">Share</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
        </div>

        {% if form_errors(form) %}
        <div class="alert alert-danger py-3 px-3 my-3">
            {{ form_errors(form) }}
        </div>
        {% endif %}

        <form action="{{ path('admin_new_joboffer') }}" autocomplete="off" class="mb-5" method="POST">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="reference">{{ 'form.reference'|trans }}</label>
                    <input class="form-control" id="reference" name="job_offer[reference]" type="text">
                </div>
                <div class="form-group col-4">
                    <label for="title">{{ 'form.jobTitle'|trans }}</label>
                    <input class="form-control" id="title" name="job_offer[title]" type="text">
                </div>
                <div class="col-4"></div>
                <div class="form-group col-2">
                    <label for="description">{{ 'form.description'|trans }}</label>
                    <textarea class="form-control" cols="30" id="description" name="job_offer[description]" rows="2"></textarea>
                </div>
                <div class="form-group col-3">
                    <label for="location">{{ 'form.location'|trans }}</label>
                    <input class="form-control" id="location" name="job_offer[location]" type="text">
                </div>
                <div class="form-group col-3">
                    <label for="salary">{{ 'form.salary'|trans }}</label>
                    <input class="form-control" id="salary" name="job_offer[salary]" type="number" min="0" step="50">
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    <label for="job-category">{{ 'form.jobSector'|trans }}</label>
                    <select class="form-control" id="job-category" name="job_offer[jobCategory]">
                        <option value="Commercial">{{ 'form.commercial'|trans }}</option>
                        <option value="Retail sales">{{ 'form.retailSales'|trans }}</option>
                        <option value="Creative">{{ 'form.creative'|trans }}</option>
                        <option value="Technology">{{ 'form.technology'|trans }}</option>
                        <option value="Marketing & PR">{{ 'form.marketingAndPR'|trans }}</option>
                        <option value="Fashion & luxury">{{ 'form.fashionAndLuxury'|trans }}</option>
                        <option value="Management & HR">{{ 'form.managementAndHR'|trans }}</option>
                    </select>
                </div>
                <div class="form-group col-4">
                    <p class="mb-1">{{ 'form.active'|trans }}</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="active1" name="job_offer[active]" type="radio" value="1">
                        <label class="form-check-label" for="active1">{{ 'admin.misc.yes'|trans }}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input checked class="form-check-input" id="active2" name="job_offer[active]" type="radio" value="0">
                        <label class="form-check-label" for="active2">{{ 'admin.misc.no'|trans }}</label>
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    <label for="note">{{ 'form.note'|trans }}</label>
                    <textarea class="form-control" cols="30" id="note" name="job_offer[note]" rows="1"></textarea>
                </div>
                <div class="col-4"></div>
                <div class="form-group col-4">
                    <label for="type">{{ 'form.jobType'|trans }}</label>
                    <select class="form-control" id="type" name="job_offer[type]">
                        <option value="fulltime">{{ 'form.fulltime'|trans }}</option>
                        <option value="partTime">{{ 'form.partTime'|trans }}</option>
                        <option value="temporary">{{ 'form.temporary'|trans }}</option>
                        <option value="freelance">{{ 'form.freelance'|trans }}</option>
                        <option value="seasonal">{{ 'form.seasonal'|trans }}</option>
                    </select>
                </div>
                <div class="form-group col-4">
                    {{ form_row(form.client, {label: 'form.client', attr: {class: 'form-control'}}) }}
                </div>
                <div class="buttons col-12 offset-md-4 row">
                    <div class="px-2">
                        <a class="btn btn-outline-dark" href="{{ path('admin_joboffers') }}">{{ 'form.cancel'|trans }}</a>
                    </div>
                    <div class="px-2">
                        <button class="btn btn-outline-dark px-5" type="submit">{{ 'form.submit'|trans }}</button>
                    </div>
                </div>

                {{ form_widget(form._token) }}
            </form>
        </div>
    </main>
{% endblock %}
